* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
}

.title {
  color: #061f33;
  font-size: medium;
  margin-bottom: 30px;
}

.container {
  width: 100%;
  border: 10px solid lightgray;
  background-color: lightgray;
}

.innerContainer {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
}

.innerTitle {
  margin: 10px;
  background-color: #061f33;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.btn {
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  color: white;
}

.btn-red {
  background-color: #dc3546;
}

.btn-darkblue {
  background-color: #324bd0;
}

.btn-green {
  background-color: #3cce2d;
}

.btn-orange {
  background-color: #ff3300;
}

.btn-blue {
  background-color: #2bf0f3;
  color: black;
}

.firstLine-buttons {
  display: flex;
  flex-wrap: wrap;
}
